.vxe-cell--checkbox.is--disabled {
  .vxe-checkbox--icon.vxe-icon-checkbox-unchecked {
    background: var(--vxe-font-disabled-color);
  }
}

.vxe-cell {
  .ant-input-number,
  .ant-input-number-group-wrapper {
    min-width: unset;
  }

  .ant-input-number-group-addon {
    background: #fff;
  }

  .ant-tag-default {
    background: #fff;
    cursor: pointer;

    &:hover {
      color: #1677ff;
    }
  }
}
