$vxe-font-color: rgba(0, 0, 0, 0.88) !default;
$vxe-font-size-mini: 14px !default;

/*table*/
$vxe-table-header-background-color: #fafafa !default;
$vxe-table-border-color: #f0f0f0 !default;
$vxe-table-row-striped-background-color: #fafafa !default;

$vxe-table-row-hover-background-color: #bae0ff !default;
$vxe-table-row-hover-striped-background-color: #bae0ff !default;
$vxe-table-row-hover-current-background-color: #bae0ff !default;
$vxe-table-row-current-background-color: #bae0ff !default;
$vxe-table-row-line-height: 22px !default;
$vxe-table-border-color: #f0f0f0 !default;
$vxe-table-row-height-mini: 32px !default;
$vxe-table-column-padding-mini: 5px 0 !default;

$vxe-table-cell-padding-left: 6px !default;
$vxe-table-cell-padding-right: 6px !default;
