.monitor-page {
  @media screen and (max-width: 800px) {
    .toolbar {
      flex-direction: column;

      .search-select,
      .search-input {
        width: 100% !important;
        margin-bottom: 12px;
      }
    }

    .buoy {
      position: fixed;
      z-index: 5;
      right: 0;
      bottom: 0;
      left: 0;
      height: 48px;
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px 12px 0;
    gap: 12px;
  }

  .toolbar {
    .search-select,
    .search-input {
      width: 250px;
      margin-right: 12px;
      float: left;
    }
  }

  .card-table-wrapper {
    flex: 1;
    overflow: hidden;

    .card-table-wrapper-content {
      height: 100%;
      padding-right: 16px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1em;
        background-color: rgb(50 50 50 / 30%);
      }

      &::-webkit-scrollbar-track {
        border-radius: 1em;
        background-color: rgb(50 50 50 / 10%);
      }
    }
  }

  .description-content {
    .description-content-title {
      color: #2b2b2b;
      font-weight: bold;
      text-align: center;
    }

    .description-content-text {
      text-align: center;
    }

    .memo-wrapper {
      margin-top: 12px;
      color: #565656;
    }

    .line {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 20px;
      color: #2b2b2b;
      font-weight: bold;
      gap: 2px;
    }
  }

  .warning {
    color: var(--vxe-danger-color);
    font-weight: bold;
  }
}
